/* VARIABLES */
:root 
{
  --color-main-bg: #000;
  --color-main: #666;
  --color-button-idle: #111;
  --color-button-hover: #333;
  --color-button-active: #111;
  --color-slider-main: #333;
  --color-slider-empty: #111;

  --element-height: 200px;
  --row-height: calc(var(--element-height) / 2);
  --title-width: 120px;
  --padding-outer: calc(var(--element-height) / 2);
  --padding-inner: calc(var(--padding-outer) / 2);
  --padding-sep: calc(var(--padding-inner) / 4);
  --padding-sep-half: calc(var(--padding-sep) / 2);
  --row-element-height: calc(var(--row-height) - var(--padding-sep-half));
}

* 
{
  box-sizing: border-box;
}
html 
{
  font-family: 'Monaco', 'Andale Mono', 'Deja Vu Sans Mono', 'Consolas', monospace;
  background: var(--color-main-bg); 
  padding: 0;
  margin: 0; 
  overflow-y: scroll;
  color: var(--color-main);
}
body 
{
  padding: 0;
  margin: 0; 
  margin-top: var(--padding-outer);
}

/*ELEMENTS*/
.elementContainer
{
  margin-bottom: var(--padding-inner);
  margin-left: var(--padding-outer);
  display: flex;
  height: var(--element-height);
}
.elementTitle
{
  float: left;
  font-size: 32pt;
  text-align: right;
  height: var(--element-height);
  margin-right: var(--padding-inner);
  line-height: var(--element-height);
  width: var(--title-width);
  min-width: var(--title-width);
}
.elementContent
{
  float: left;
  width: 100%;
  height: var(--element-height);
  margin-right: var(--padding-outer);
}
.elementSlider
{
  float: left;
  clear: both;
  width : calc( 100% - var(--padding-sep) );
  padding: 0px;
  margin: 0px;
  margin-left: var(--padding-sep);
  margin-top: var(--padding-sep);
}
.elementButton
{
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.elementButton button
{
  width : calc( 33.33% - var(--padding-sep) );
  cursor: pointer;
  outline: none; /*mobile browser boarder on active (tapped)*/
  background-color: var(--color-button-idle);
  /*min-width: var(--element-height);*/
  /*width: 28%;*/
  height: var(--row-element-height);
  border-radius: 0px;
  font-size: 32pt;
  border: 0px;
  border: none;
  text-decoration: none;
  margin: 0px;
  margin-left: var(--padding-sep);
}
.elementButton button:hover
{
  background-color: var(--color-button-hover);
}
.elementButton button:active
{
  padding:0px;
}

/*SLIDER*/
.barCnt 
{
  position: relative;
  height: 10px;
}
.barCnt .preBar 
{
  position: absolute;
  background-color: var(--color-slider-main);
  height: var(--row-element-height);
  line-height: var(--row-element-height);
  z-index: 200;
  padding: 0px;
  margin: 0px;
  pointer-events: none;
}
input[type=range].colorized 
{
  -webkit-appearance: none;
  width: 100%;
  height: var(--row-element-height);
  position: absolute;
  padding: 0px;
  margin: 0px;
  cursor: ew-resize;
  z-index: 100;
  left: 0px
}
input[type=range].colorized::-webkit-slider-runnable-track 
{
  height: var(--row-element-height);
  background: var(--color-slider-empty);
  border: none;
}
input[type=range].colorized::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  border: none;
  height: 0px;
  width: 0px;
  background: var(--color-slider-main);
  margin-top: 0px;
  z-index: 400;
}
input[type=range].colorized:focus 
{
  outline: none;
}
input[type=range].colorized:focus::-webkit-slider-runnable-track 
{
  background: var(--color-slider-empty);
}
input[type=range].colorized::-moz-range-track 
{
  width: 100%;
  height: var(--row-element-height);
  background: var(--color-slider-empty);
  border: none;
}
input[type=range].colorized::-moz-range-thumb 
{
  border: none;
  height: 0px;
  width: 0px;
  background: var(--color-slider-main);
  z-index: 400;
}
input[type=range].colorized::-moz-focus-outer 
{
  border: 0;
}